.navigation-wrapper
  %a.logo{href: "#{root_url}" }
    %i.fa.fa-cutlery
  %a#js-mobile-menu.navigation-menu-button{href: "javascript:void(0)"} Menu
  %nav{ role: "navigation"}
    %ul.navigation-menu.show#js-navigation-menu
      = render "layouts/navigation_links"
  .navigation-tools
    .search-bar
      %form.search
        %input{type: "search", placeholder: "Search for recipes" }
        %button{type: "submit" }
          = image_tag "https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/search-icon.png", alt: "Search Icon"

    - if user_signed_in?
      = link_to "Sign Out", destroy_user_session_path, method: :delete, class: 'button'
    - else
      = link_to "Sign In", new_user_session_path, class: "button-blue"
